html, body {
    padding: 0;
    margin: 0;
}

.VEPWW{
    height: 52px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
}

.petitmenu{
    display: flex;
}
.parag{
    margin-left: 15px;
}
.magasin{
    display: flex;
    align-items: center;
}
.NC{
    border-left: white solid 1px;
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    height: 50%;
}
.parag2{
    margin-left: 15px;
}

.drapeau{
    display: flex;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.divblanche{
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    justify-content: center;
    height: 46px;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 136px;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
}
.first{
    height: 982px;
    display: flex;
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/fond1warhammerhero.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 80px;
    width: 80px;
}
.bouton{
    display: flex;
    height: 84px;
    align-items: center;
    border: none;
    background: none;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.b1{
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
}
.imgcompte{
    height: 24px;
    width: 24px;
}