html, body {
    padding: 0;
    margin: 0;
}

.VEPWW{
    height: 52px;
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 14px;
}

.petitmenu{
    display: flex;
}
.parag{
    margin-left: 15px;
}
.magasin{
    display: flex;
    align-items: center;
}
.NC{
    border-left: white solid 1px;
    width: 40px;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    height: 50%;
}
.parag2{
    margin-left: 15px;
}

.drapeau{
    display: flex;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}
.divblanche{
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    justify-content: center;
    height: 46px;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 136px;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    padding-left: px;
    padding-right: px;
    justify-content: space-between;
}
.first{
    height: 900px;
    display: flex;
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/fond1warhammerhero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    height: 80px;
    width: 80px;
}
.bouton{
    display: flex;
    height: 84px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}
.b1{
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-transform: none;
}
.b2{
    padding: 0;
    display: flex;
    justify-content: flex-start;

}
.imgcompte{
    height: 24px;
    width: 24px;
}
.FCC{
    color: white;
    display: flex;
    flex-direction: column;
    width: 640px;
    padding-left: 40px;
    margin-top: 20px;
}
.underworld{
    width: 224px;
    height: 48px;
}
.FCC1{
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 20px;
}
.FCC2{
    font-size: 20px;
}
.bjaune{
    height: 48px;
    width: 267px;
    background-color: #fbca1b;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    text-transform: uppercase;
}
.bjaunefleche{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    right: -1700px;
    top: -90px;
    background-color: #fbca1b;
    border: none;
}
.main{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    padding-left: 60px;
    height: auto;
}
.box4{
    display: flex;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.carteboite{
    display: flex;
    justify-content: space-between;
    border: gray solid 1px;
    border-radius: 10px;
    width: 350px;
    align-items: center;
    padding: 20px;
}
.imgboite{
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}
.textcarteboite{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 13px;
}
.tv{
    text-transform: uppercase;
    color: gray;
}
.w40{
    font-weight: bold;
}
.VCICW{
    display: flex;
    height: 580px;
    border-radius: 20px;
    border: gray solid 1px;
    margin-bottom: 70px;
}
.VCICW1{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 500px;
    background-color: black;
    color: white;
    justify-content: flex-end;
    padding: 40px;
}
.textVCI{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.text2VCI{
    line-height: 2;
    margin-top: 20px;
}
.bjauneESP{
    width: 143px;
    height: 40px;
    background-color: #fbca1b;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}
.VCICW2{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/noëlwarhammer.webp");
    height: 580px;
    width: 1343px;
    background-size: cover;
    background-position: center;
}
.fleches2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.petit2fleches{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flech1{
    border: gray solid 1px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    rotate: 180deg;
}
.flech2{
    border: gray solid 1px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
}
.carte4{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: #e2e2e2 solid 1px;
    border-radius: 10px;
}
.carteimage{
    display: flex;
    justify-content: center;
}
.bascarte{
    display: flex;
    flex-direction: column;
}
.cartetexte{
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.carteprix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.bjauneprix{
    border: none;
    background-color: #fbca1b;
    border-radius: 50px;
}
.cartetexte1{
    font-weight: bold;
    font-size: 15px;
}
.cartetexte2{
    color: gray;
    font-size: 13px;
}
.choix{
    display: flex;
    justify-content: center;
}
.choix1{
    background-color: black;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.choix2{
    background-color: #e2e2e2;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.ADS{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.ADStext{
    font-weight: bolder;
    font-size: 32px;
}
.ADSbutton{
    background-color: white;
    border-color: #e2e2e2;
    border-radius: 50px;
    font-size: 16px;
}
.RPM{
    display: flex;
    height: 300px;
    border-radius: 20px;
    border: gray solid 1px;
    margin-bottom: 70px;
}
.RPM1{
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 220px;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 40px;
}
.textRPM{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.textRPM2{
    line-height: 2;
    margin-top: 20px;
}
.bjauneRPM{
    width: 96px;
    height: 40px;
    background-color: #fbca1b;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}
.RPM2{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/colis.webp");
    height: 300px;
    width: 1284px;
    background-size: cover;
    background-position: center;
}
.carte2{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/sapcemarinebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
}
.cartefonbleu{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #467993 36.99%);
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
}
.bjaunecartefondbleu{
    background-color: #fbca1b;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}
.cartefonbleutitre{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}
.cartefonbletexte{
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 2;
}
.UEL{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
}
.fleche3{
    margin-top: 70px;
    margin-bottom: 70px;
}
.noir{
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 36.99%)
}
.c3{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/fondoldworld.png");
}
.grandeimage{
    display: flex;
    align-items: center;
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/40k_Universe_Backing.webp");
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 70px;
}
.spacemarine{
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin-top: 100px;
}
.logos5{
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
    top: -270px;
    justify-content: space-between;
    align-items: center;
}
.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.boutonbleu{
    margin-top: 70px;
    background-color: #467993;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    font-size: 15px;
}
.opacité{
    opacity: 0.5;
    align-items: center;
}
.flechelogo1{
    background-color: #1c1c1c;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    rotate: 180deg;
}
.flechelogo2{
    background-color: #1c1c1c;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.PC{
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 30px;
}
.box4{
    display: flex;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.carteboite2{
    display: flex;
    justify-content: space-between;
    border: gray solid 1px;
    border-radius: 10px;
    width: 500px;
    align-items: center;
    padding: 20px;
}
.imgboite2{
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
}
.textcarteboite2{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 13px;
}
.tv{
    text-transform: uppercase;
    color: gray;
}
.w40{
    font-weight: bold;
}
.VTQ{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}
.double{
    display: flex;
    height: 460px;
    justify-content: space-between;
    margin-bottom: 90px;
}
.VMWL{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/doubleVMWL.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
    display: flex;
    border-radius: 20px;
    align-items: flex-end;
}
.PNE{
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/doublePNE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
    display: flex;
    border-radius: 20px;
    align-items: flex-end;
}
.VMWLtext{
    height: 40%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    padding-left: 20px;
}
.titreVMWL{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
.texteVMWL{
    font-size: 14px;
}
.PNEtext{
    width: 100%;
    height: 30%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    padding-left: 20px;
}
.grandeboite{
    height: 1085px;
    background-image: url("/home/enzo/cloneWharhammerWebSite/image/WH__Feature_HiRes.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}
.titregrandeboite{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.policeforte{
    font-weight: bold;
    font-size: 50px;
}
.textitre{
    margin-top: 20px;
}
.bjaunegrandeboite{
    background-color: #fbca1b;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.flou2{
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textflou{
    display: flex;
    align-items: center;
}
.espace{
    padding-left: 30px;
    padding-right: 30px;
}
.BL{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.textBL{
    font-size: 35px;
    font-weight: bold;
}
.TVb{
    background-color: white;
    border: solid 1px #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
.liste{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 10px;
}
.email{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #e2e2e2;
    border-radius: 15px;
}
.boutonfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border-radius: 50px;
}
.textsub{
    line-height: 2;
}
.privacy{
    color: blue;
    text-decoration: underline;
}
.assistance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sujet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titref{
    letter-spacing: 5px;
    color: grey;
    font-size: 15px;
}
.copyright{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 230px;
    font-size: 14px;
}